@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

.container {
	width: 100%;
	max-width: 1140px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
}
.timelines h2 {
	text-align: center;
	color: #fff;
	font-weight: 600;
	margin-bottom: 40px;
	font-size: 32px;
}
.d-flex-2 {
	display: flex;
	align-items: center;
}
.timeline-area {
	padding: 80px 0;
}
.all-timelines {
	position: relative;
}
.timelines h2 {
	text-align: center;
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 30px;
	font-size: 40px;
	font-family: 'Noto Sans JP', sans-serif;
}


.all-timelines::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;
	width: 2px;
	background: #B721FF;
	top: 20px;
}
.single-timeline {
	margin-bottom: 20px;
}
.timeline-blank {
	width: 50%;
}
.timeline-text {
	width: 50%;
	padding-left: 30px;
    padding-top: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.timeline-text h6 {
	color: #FF5733;
	font-weight: 900;
	display: inline-block;
	font-size: 1.6rem;
	font-family: 'Lato', sans-serif;
}
.timeline-text span {
	color: #efa22f;
	display: block;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
}

.timeline-text span .college{
	color: #2e8cf0;
	display: block;
	width: 100%;
    font-size: 1.2rem;
}

.timeline-text span .year{
	color: white;
	display: block;
	width: 100%;
    font-size: 1rem;
}

.single-timeline:nth-child(even) .timeline-text span {
	text-align: right;
}

.t-square {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	left: -6px;
    top: 8px;
	background: #efa22f;
}
.single-timeline:nth-child(even) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.single-timeline:nth-child(even) .t-square {
	right: -6px;
	left: unset;
}
.single-timeline:nth-child(even) .timeline-text {
	padding-left: 0;
	padding-right: 30px;
	text-align: right;
}

@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
	.all-timelines::before {
		right: unset;
		top: 0;
	}
	.single-timeline:nth-child(2n) .timeline-text {
		padding-left: 30px;
		padding-right: 0;
		text-align: left;
	}
	.single-timeline:nth-child(2n) .t-square {
		left: -6px;
		right: unset;
        /* top: 1/0px; */
	}
	.timeline-blank {
		display: none;
	}
	.timeline-text {
		width: 100%;
	}
	.single-timeline:nth-child(even) .timeline-text span {
		text-align: left !important;
	}
}
@media all and (max-width: 575px) {
}
@media all and (max-width: 360px) {
	.all-timelines::before {
		top: 32px;
	}
}


